 

.flex-container {
  padding: 60px;
  margin: 0;    
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  border-radius: 25px;
  background: rgba(255,255,255,0.5);
}

.flex-item {
  background: white;
  padding: 5px;
 
  min-width: 600px;
  max-width: 1000px;
 
  /*width: 32%;*/

  height: 150px;
  margin-top: 10px;

  color:white;  
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  border-radius: 50px;
  opacity: 0.9;
}


.flex-image {
  max-width: 50px;
}
img {
  border-radius: 50%;
  width: 250%;
  margin-top: 15px;
  margin-left: 15px;
}
.flex-information {
  color: black;
  font-weight: bold;
  position: absolute;
  top: 45px;
  left: 200px;
  display: block;
  text-align: left;
}
.flex-number {
    position: absolute;
    top: 0px;
    left: 110px;
    display: block;
    border-radius: 50%;
    background-color: red;
    min-width: 70px;
    opacity: 0.5;
    min-height: 48px;
    margin-top: 5px;
    padding-top: 20px;
}
.flex-principal-information{
  color: red;
  font-size: 1.5em;
  font-weight: initial;
  text-decoration: underline;
  cursor:pointer; cursor: hand;
  font-weight: bolder;
}

.delete-button{
    position: absolute;
    background: red;
    top: 8px;
    color: #f2f2f2;
    padding: 10px;
    font-size: 15px;
    border-radius: 38px;
    right: 50px;
    opacity: 0.5;
}
 
 